<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Current weather</title>
</head>
<body>
    <div>
        <h1 th:text="'Temperature: ' + ${info.getWeather().getTemperature()} + '°C'"></h1>
        <h2 th:text="'Feels like: ' + ${info.getWeather().getFeelsLike()} + '°C'"></h2>
        <p th:text="${info.getWeather().getCondition()}"></p>
        <img th:src="${info.getWeather().getConditionIcon()}" th:alt="${info.getWeather().getCondition()}">
        <p th:text="'Wind speed: ' + ${info.getWeather().getWindSpeed()} + 'km/h'"></p>
        <p th:text="'Humidity: ' + ${info.getWeather().getHumidity()} + '%'"></p>
        <p th:text="'Cloud coverage: ' + ${info.getWeather().getCloudCoverage()} + '%'"></p>
        <div>
            <h4 th:text="'Air quality: ' + ${info.getAirQuality().getAirQuality()}"></h4>
            <p>
                CO: <span th:text="${info.getAirQuality().getCo()}"></span>μg/m<sup>3</sup>&nbsp;
                O<sub>3</sub>: <span th:text="${info.getAirQuality().getO3()}"></span>μg/m<sup>3</sup> &nbsp;
                NO<sub>2</sub>: <span th:text="${info.getAirQuality().getNo2()}"></span>μg/m<sup>3</sup>&nbsp;
                SO<sub>2</sub>: <span th:text="${info.getAirQuality().getSo2()}"></span>μg/m<sup>3</sup>&nbsp;
                PM2.5: <span th:text="${info.getAirQuality().getPm2_5()}"></span>μg/m<sup>3</sup>&nbsp;
                PM10: <span th:text="${info.getAirQuality().getPm10()}"></span>μg/m<sup>3</sup>
            </p>
        </div>
        <h3 th:text="'City: ' + ${info.getLocation().getCity()}"></h3>
        <h4 th:text="'Country: ' + ${info.getLocation().getCountry()}"></h4>
    </div>
</body>
</html>